 </div><!-- /.container -->
 <footer class="site-footer">
  <div class="footer__credits">
    <p class="credits__text">Designed and coded by Jose S. Guti&eacute;rrez D. &copy; 2018 </p>
  </div>
</footer> 
</body>
</html>