body{
  color:#232526;
  font-family: 'Quattrocento', serif;

}
header{
  align-items: center;
  background-color: #FF5F64;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
  padding:0 4%;
}

header::after{
  background-color: #FF5F64;
  background-color: rgba(255, 95, 100, 0.2);
  content: "";
  height: 100vh;
  left: 38%;
  position: absolute;
  top: 0;
  width: 3px;
  z-index: -100;
}

.logo{
  color: white;
  font-family: 'Monoton', cursive;
  font-size: 3em;
  letter-spacing: 2px;
}
.nav{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.nav-item{
  margin: 15px;;
}

.nav-item__text{
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  letter-spacing: 2px;
}

a{
  color: #005397;
  text-decoration: none;
}

h1{
  /*color: #FF5F64;*/
  font-size: 1.6em;
  font-weight: bolder;
  letter-spacing: 10px;
  margin-left: 10px;
  margin-top: 80px;
  min-width: 250px;
  text-align: center;
  text-transform: uppercase;
}

h2{
  font-size: 1.5em;
  margin-top: 45px;
  text-align: center;
}

input,
textarea{
  background-color: white;
  border: 1px solid #FF5F64;
  border-radius: 3px;
  font-size: large;
  width: 100%;
}

.form-input{
  font-size: large;
  margin-top: 30px;
}

textarea{
  display: block;
  height: 150px;
}

.container{
  margin:0 auto;
  min-height: calc(100vh - 220px);
  width: 100%;
}

.linkContainer{
  display: flex;
  justify-content: center;
}

.cardHolder::before,
.formContainer::before{
  color: #c0c0c033;
  content: "campgrounds";
  font-family: 'Monoton', cursive;
  font-size: 150px;
  left: 2%;
  letter-spacing: 2px;
  max-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 61px;
  width: 25vh;
  word-break: break-all;
  z-index: -100;
}
.formContainer::before{
  content: "add campgrounds";
}

.cardHolder{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.card{
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 10%;
  padding: 4%;
}

.card__full{
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  padding: 0;
  height: 20%;
}

.card-imgCont{
  overflow: hidden;
}

.card-img{
  max-width: 100%;
}

.card-label{
  color: #FF5F64;
  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  letter-spacing: 2px;
  margin-right: 4%;
  margin-top: 5%;
  text-align: right;
}

.card-description{
  display: flex;
  justify-content: center;
}

.card-description__text{
  font-size: 1.2em;
  line-height: 33px;
  margin: 3% 6%;
}
.card-link{
  display: flex;
  justify-content: flex-end;
}

.formContainer{
  background-color: #EFE8D8;
  background-color: rgba(242, 236, 223, 0.5);
  margin: 4% auto;
  max-width: 500px;
  padding: 15px;
  width: 100%;
}

.btnAction,
.btnNav{
  background-color: #FF5F64;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  margin-top: 15%;
  padding: 15px;
}

.btnNav{
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-top: 35px;
  padding: 5px 30px;
}

.btnAction:hover,
.btnNav:hover,
.nav-item__text:hover {
  box-shadow: 1px 1px 2px darkgrey;
  color: #3895CC;
  text-decoration: none;
}
.nav-item__text:hover {
  box-shadow:none;
}

footer{
  align-content: center;
  background: #EFE8D8;
  color: #FF5F64;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 100%;
 }
 .footer__credits{
  text-align: center;
 }

.credits__text{
  font-size: 0.8em;
}

 /* Media query */
@media screen and (min-width: 600px) {

  .logo{
    font-size: 9em;
  }

  .cardHolder::before,
  .formContainer::before{
    font-size: 11em;
    left: 5%;
    top: 200px;
    width: 55vh;
  }

  .card{
    width: 50%;
  }

  .linkContainer{
    justify-content: flex-end;
    margin-right: 4%;
  }
}

@media screen and (min-width: 900px) {
  .card{
    margin-top: 4%;
    padding: 2%;
    width: 36%;
  }
  .card-img{
    max-width: 900px;
  }

  .card-imgCont{
    display: flex;
    justify-content: center;
    width: 100%;
  }

}

@media screen and (min-width: 1024px) {

  .cardHolder::before,
  .formContainer::before{
    text-align: right;
    top: 112px;
    width: 554px;
  }

  .card-imgCont{
    margin-right: 4%;
    order: 2;
    width: 46%;
  }

  .card-description{
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 4%;
    width: 46%;
  }

  .card-description__text{
    font-size: 1.1em;
    margin-right: 14%;
  }

  .formContainer::before{
    width: 524px;
  }

  .card{
    padding: 2%;
    width: 30%;
  }
}
